= nested_form_for @question, html: {role: 'form', class: 'form-horizontal'} do |f|
  .error-messages
    = render partial: 'common/error_messages', locals: {model: f.object}

  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control'

  .form-group
    = f.label :body
    = f.text_area :body, class: 'form-control'

  .form-group
    = render partial: 'attachments/form_list', locals: {form: f}

  .form-group
    = f.submit class: 'btn btn-default btn-sm'