.row
  .col-md-12.question-container{data: {question_container: question.id}}
    - if can? :edit, question
      = render partial: 'questions/editable_question', locals: {question: question}
    - else
      = render partial: 'questions/readonly_question', locals: {question: question}
    .row.comments-container{data: {comments_container: '', commentable_type: 'question', }}
      .col-md-11.col-md-offset-1
        - if can? :new, Comment
          = button_tag 'Comment', type: 'button', data: {new_comment_button: '', show_text: 'Comment', hide_text: 'Cancel'}, class: 'btn btn-default btn-xs'

          %div{data: {new_comment: ''}, style: 'display:none;'}
            = render partial: 'comments/form', locals: {comment: question.comments.build}

        = render partial: 'comments/comments_list', locals: {commentable: question}

.row
  .col-md-12
    %h2
      Answers (
      %span{data: {answers_count: ''}}= question.answers.count
      )

.row
  .answers-container.col-md-12{data: {answers_container: ''}}
    = render partial: 'answers/answers_list', locals: {question: question}

.row
  .col-md-12
    %h2= "Your answer"
    - if can? :new, Answer
      = form_for [question, answer], html: {role: 'form', class: 'form-horizontal'}, remote: true do |f|
        .error-messages

        .form-group
          = f.text_area :body, class: 'form-control'

        .form-group
          = f.submit class: 'btn btn-primary'
    - else
      %p
        = link_to 'You should sign in to answer', new_user_session_path

- if current_user.try(:admin)
  = subscribe_to "/admin/questions/#{question.id}"
- else
  = subscribe_to "/questions/#{question.id}"