.row
  .col-md-12.question-container{data: {question_container: question.id}}
    - if can? :edit, question
      = render partial: 'questions/editable_question', locals: {question: question}
    - else
      = render partial: 'questions/readonly_question', locals: {question: question}

    = render partial: 'comments/comments_container', locals: {commentable: question}

.row
  .col-md-12
    %h2 Answers

= render partial: 'answers/answers_list', locals: {question: question}

.row
  .col-md-12
    %h2= "Your answer"
    - if can? :new, Answer
      %div{data: {new_answer: ''}}
        = render partial: 'answers/form', locals: {answer: answer}
    - else
      %p= link_to 'You should sign in to answer', new_user_session_path

- if user_signed_in?
  - if current_user.try(:admin)
    = subscribe_to "/admin/questions/#{question.id}"
  - else
    = subscribe_to "/chunk_author/questions/#{question.id}"
    = subscribe_to "/questions/#{question.id}"