.col-md-12
  %h2= @question.title
  %p= @question.body

  %h2
    Answers (
    %span{data: {answers_count: ''}}= @question.answers.count
    )

  .answers-container{data: {answers_container: ''}}
    = render partial: 'answer_list', locals: {question: @question}

  %h2= "Your answer"
  = form_for [@question, @answer], html: {role: 'form', class: 'form-horizontal'}, remote: true do |f|
    .error-messages

    .form-group
      = f.text_area :body, class: 'form-control'

    .form-group
      = f.submit class: 'btn btn-default'