.attachments-container
  = form.link_to_add "Add more files", :attachments, model_object: Attachment.new, :data => { :target => ".attachments-container" }
  = form.fields_for :attachments do |attachment|
    .attachment
      = attachment.link_to_remove '', class: bootstrap_icon_class('times')
      - if attachment.object.new_record?
        = attachment.file_field :file
      - else
        = link_to attachment.object.file.file.identifier, attachment.object.file.url